<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Project</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
</head>

<body>
    {{!-- Start of Nav Bar --}}
<div class="bg-img">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
          <div class="navbar-menu ">
              <div class="navbar-start is-dark">
      <div class="navbar-item">
  <div class="field is-grouped">
  <a class="button mr-3" href="/signup">Sign Up</a>
  <div class="button mr-3">My Jobs</div>
  <div class="button mr-3">Create a Job</div>
  </div>
</div>
</div>
    </div>
      </nav>
    {{!-- End Nav Bar --}}
{{{body}}}
</body>
<script src="./js/signup.js"></script>
</html>