<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Project</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
</head>

<body>
    {{!-- Start of Nav Bar --}}
<div class="bg-img">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
          <div class="navbar-menu ">
              <div class="navbar-start is-dark">
      <div class="navbar-item">
  <div class="field is-grouped">
  <div class="button">Sign Up</div>
  </div>
</div>
</div>
    </div>
      </nav>
    {{!-- End Nav Bar --}}
<div class="columns is-centered mt-6">
    <div class="column is-one-third">
        <h1 class="title is-1 is-centered mb-6"  id="app-name">Coding Jobs</h1>
        <div class="column">
            <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="button is-dark">Log In</div>
        </div>
    </div>
</div>
  </div>
</body>
</html>