<div class="columns is-centered mt-6">
    <div class="column is-one-third">
        <h1 class="title is-1 is-centered mb-6"  id="titles">Sign Up</h1>
        <div class="column">
            <div class="field">
<input class="input" type="text" placeholder="Job Title">
</div>
<div class="field">
<input class="input pb-6" type="text" placeholder="Job Description">
</div>
<div class="field">
<input class="input" type="text" placeholder="Technologies">
</div>
<div class="field">
    <input class="input" type="number" placeholder="Salary">
</div>
<div class="field">
<input class="input" type="text" placeholder="Email Contact">
</div>
<div class="button is-dark">Register</div>
        </div>
    </div>
</div>

