<div class="columns is-centered mt-6">
    <div class="column is-one-third">
        <h1 class="title is-1 is-centered mb-6"  id="titles">List a New Job</h1>
        <div class="column">
            <div class="field">
<input class="input" type="text" id= "title" placeholder="Job Title">
</div>
<div class="field">
<input class="input pb-6" type="text" id= "description" placeholder="Job Description">
</div>
<div class="field">
<input class="input" type="text" id= "company" placeholder="Company">
</div>
<div class="field">
<input class="input" type="text" id= "technology" placeholder="Technologies">
</div>
<div class="field">
    <input class="input" type="number" id= "salary" placeholder="Salary">
</div>
<div class="field">
<input class="input" type="text" id= "contact" placeholder="Email Contact">
</div>
<div class="button is-dark" id= "create-post">Register</div>
        </div>
    </div>
</div>
 <script src="/js/add-job.js"></script>
