<h1 class="title is-1 is-centered mb-6"  id="titles">Find Jobs</h1>
{{#each jobs as |job| }}
<div class="columns is-centered mt-6">
    <div class="column is-one-third">
    <h2>
<article class="message">
  <div class="message-header">
     <p>{{job.job_title}} {{job.job_title}}</p>
  </div>
  <div class="message-body">
   Job Description: {{job.job_description}}
  </div>
</article>
  </div>
</div>
{{/each}}
    