{{#each jobs as |job| }}
<div class="columns is-centered mt-6">
    <div class="column is-one-third">
    <h2>
<article class="message">
  <div class="message-header">
     <p><a href="/one-job/{{job.job_title}}">{{job.job_title}}</a></p>
   <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
   Job Description: {{job.job_description}}
  </div>
</article>
  </div>
</div>
{{/each}}
    